.music-list-container {
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    margin-left: 30px;
}

.music-list {
    width: 45%;
    max-width: 500px;
    min-width: 200px;
    height: 80px;
    margin: 0 3% 3% 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

.thumb-wrap {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    float: left;
}
.thumb-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.info-title {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}
.info-artist {
    font-size: 12px;
    color: var(--cloud);
}

.add-icon {
    float: right;
    cursor: pointer;
}