::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-thumb {
    background-color: var(--red);
    border-radius: 10px;
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
}

.play-area-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 25vw;
    max-width: 500px;
    min-width: 300px;
    height: 100%;
    box-shadow: -5px 0 30px 5px rgba(255, 255, 255, 0.05);;
}

.tabs {
    width: 90%;
    margin: 20px auto 30px;
    padding: 10px 0;
}
.tabs > li {
    display: inline-block;
    margin-right: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #FFF;
    font-size: 14px;
    cursor: pointer;
}
.tabs > li.clicked-tab {
    color: var(--red);
    font-weight: bold;
    border-bottom: 2px solid var(--red);
}

.album-cover-wrap {
    position: relative;
    width: 75%;
    margin: 0 auto 40px;
    cursor: pointer;
}
.album-cover-wrap > img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.audio-player-container {
    display: none;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    text-align: center;
}
.audio-player-container > i {
    display: inline-block;
}
.skip-button {
    font-size: 40px;
}
.play-button {
    margin: 0 5px;
    color: #FFF;
    font-size: 65px;
    cursor: pointer;
}
.album-cover-wrap:hover > .audio-player-container {
    display: flex;
}

.played-music-info {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 30px;
    text-align: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.played-music-info > .title {
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}
.played-music-info > .artist {
    font-size: 13px;
    color: var(--cloud);
}

.lyrics {
    width: 90%;
    height: 100%;
    margin: 20px auto;
    white-space: pre-line;
    text-align: center;
    font-size: 12px;
    line-height: 20px;
    overflow-y: auto;
}

.play-list-wrap {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    overflow-y: auto;
}
.play-list,
.empty-play-list {
    height: 50px;
    padding-left: 10px;
    line-height: 50px;
    font-size: 12px;
}
.play-list {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
    text-align: left;
}
.play-list:first-of-type {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: bold;
}
.play-list:first-of-type .remove-button {
    color: var(--charcoal);
    cursor: default;
}
.play-list:not(:first-of-type):hover {
    color: var(--red);
    cursor: pointer;
}
.play-list > .music-info {
    width: 100%;
}
.playing {
    color: var(--red);
}
.play-list .title,
.play-list .artist {
    display: inline-block;
    height: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
.play-list .title {
    width: 40%;
}
.play-list .artist {
    width: 35%;
}
.remove-button {
    float: right;
    margin-right: 5px;
    transform: translate(0, 14px);
    font-size: 20px;
    cursor: pointer;
}

.empty-play-list {
    color: var(--cloud);
}